<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ApiKey%>&callback=initMap" async></script>
    <style>
      #map {
        width: 600px;
        height: 400px;
      }
    </style>
  <title>
    <%= map.name %>
  </title>
</head>

<body>
  <h1>
    <%= map.name %>
  </h1>
  <P>location: <%=map.city%>, <%=map.country%>
  </P>
  <P>Coordinates: Lat = <%=map.latitude%>, Lng = <%=map.longitude%>
  </P>
  <p>Helloooooooo     <%=pins[1].latitude %></p>
  <% for (let item of pins) {%>
    <P>
      <%= item.title%>   <%= item.latitude%>   <%= item.longitude%>
    </P>
    <%}%>
    <img src="<%=map.image_url%>" alt="<%=map.city%>" width="600">
    <h1>Google Map</h1>
    <div id="map"></div>
    <!-- <script defer src="/scripts/mapAPI.js"></script> -->
    <script>
      const pin = []
      <% for (let item of pins) {%>
      pin.push({lat: <%=item.latitude%>, lng: <%= item.longitude%>})
      <%}%>
      function initMap() {
      const position = { lat: <%=map.latitude %>, lng: <%=map.longitude %> };
      // The map, centered at Seattle
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: position,
      });
      for (let i = 0; i < pin.length; i++) {
        const coord1 = { lat: pin[i].lat, lng: pin[i].lng };
        addMarker(coord1);
      }
      function addMarker(coords) {
        const marker = new google.maps.Marker({
          position: coords,
          map: map,
        });
      }


    };
    </script>

</body>

